@font-face {
  font-family: "iconfont"; /* Project id 3828281 */
  src: url('iconfont.woff2?t=1671105736528') format('woff2'),
       url('iconfont.woff?t=1671105736528') format('woff'),
       url('iconfont.ttf?t=1671105736528') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-account:before {
  content: "\e609";
}

.icon-password:before {
  content: "\e82b";
}

